.top-navbar {
    background-color: #222125;
    padding: 30px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.top-navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-navbar-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.top-logo-text {
    font-family: 'Lato', sans-serif;
    color:  #8d81ac;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
	margin-left: 17px;
}
.top-navbar-menu {
    display: flex;
    align-items: center;
}
.top-navbar-item {
    display: inline-block;
    margin-right: 46px;
}
.top-navbar-link {
	text-decoration: none;
	color: #8d81ac;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.top-navbar-link:hover {
	color: white;
}

.top-btn-buy {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: #8d81ac;
	padding: 12px 35px;
	border-radius: 19px;
	text-decoration: none;

}

.top-btn-buy:hover {
	background-color: white;
	color: #8d81ac;
}

.download-trial {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, calc(100% - 32px));
}

.download-trial-button {
	border-radius: 40px;
	text-decoration: none;
	background-color:  #8d81ac;
	padding: 23px 63px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
}

.download-trial-button:hover {
	background-color: white;
	color: #8d81ac;
}

.header {
	padding: 60px 0 487px;
	position: relative;
	background: url("../img/notebook.png");
	background-position: center;
}


.header-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 82px;
	text-align: center;
	color: white;
}

.header-description {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-align: center;
	color:  #8d81ac;
	margin-top: 18px;
}

.download-trial-description {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:  #848e97;
	text-align: center;
	margin-top: 19px;
}

.revolutionary-editor{
	margin-bottom: 70px;
}

.revolutionary-editor-section-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 54px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color:  #635c73;
	margin-top: 129px;
	margin-bottom: 39px;
}

.revolutionary-editor-section-description {
	font-family: 'Source Sans Pro', sans-serif;
	color:  #323232;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
	
	max-width: 880px;
	margin: 0 auto;
}

.revolutionary-editor-section-btns {
	margin-top: 36px;

}

.section-with-editor {
	background-color:  #f4f4f4;
	position: relative;
}

.section-with-editor-left {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-right: 40px
	box-sizing: border-box;
}

.section-with-editor-left-icon {
	flex: 0 0 130px;
}

.section-with-editor-left-items {
	display: flex;
}

.section-with-editor-right {
	display: flex;
	flex: 1 1 40%;
}

.section-with-editor-right-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:  #8d81ac;
	font-size: 48px;
	text-align: right;
	position: absolute;
	right: 84px;
	top: 84px;
}

.section-with-editor-left-items-header {
	font-family: 'Montserrat', sans-serif;
	color:  #323232;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
}

.section-with-editor-left-items-text{
	font-family: Montserrat;
	color:  #848e97;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 34px;
}

.editor-img {
	position: absolute;
    left: 50%;
    top: 171px;
    width: calc(50% - 10px);
}

.steven-strange {
	margin-top: 87px;
}

.steven-strange-user {
	display: flex;
	align-items: center;
	margin-bottom: 48px;
	justify-content: center;
}

.steven-strange-user-decrp {
	margin-left: 23px;
}

.steven-strange-username{
	font-family: Montserrat;
	color:  #635c73;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
}

.steven-strange-status {
	font-family: Montserrat;
	color:  #8d81ac;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-top: 7px;	
}

.steven-stranger-arrow-prev {
	left: 0;
	position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: black;
    text-align: center;
    color:  rgba(71, 71, 71, 0.5);
	text-decoration: none;
}

.steven-stranger-arrow-next {
	right: 0;
	position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: black;
    text-align: center;
    color:  rgba(71, 71, 71, 0.5);
	text-decoration: none;
}

.steven-stranger-description {
	position: relative;
}

.steven-stranger-description-text {
	font-family: 'Source Sans Pro', sans-serif;
	color:  #333333;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	text-align: center;
	width: 720px;
	margin: 0 auto;
}

.steven-stranger-post-time {
	font-family: 'Montserrat', sans-serif; 	
	color:  #848e97;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	margin-bottom: 57px;
}

.steven-strange-pixelbuddha {
	font-family: 'Source Sans Pro', sans-serif;
	color:  #8d81ac;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.steven-stranger-line {
	margin: 0 auto;
	margin-bottom: 60px;
	background-color:  rgba(199, 199, 199, 0.2);
	width: 780px;
	height: 2px;
}

.steven-stranger-urls {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	color:  #ffffff;
	font-size: 21px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
}

.steven-stranger-url-github {
	border-radius: 4px;
	background-color:  #f3f3f3;
	width: 240px;
	height: 50px;
}

.github-icon {
	color: black;
}

.steven-stranger-url-twitter {
	border-radius: 4px;
	background-color:  #26a6d1;
	width: 240px;
	height: 50px;
}

.steven-stranger-url-facebook {
	border-radius: 4px;
	background-color:  #3b5998;
	width: 240px;
	height: 50px;
}

.github-img, .twitter-img, .facebook-img {
	margin-right: 36px;
}

.steven-stranger-urls-followers {
	font-family: 'Montserrat', sans-serif;
	color:  #848e97;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
}

.people-are-talking-items {
	width: 326px;
	margin-bottom: 106px;
}

.people-are-talking {
	background: url(../img/people-are-talking-layer1.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.people-are-talking-wrapper {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.people-are-talking-header {
	font-family: 'Montserrat', sans-serif;
	color:  #ffffff;
	font-size: 47.99px;
	font-weight: 700;
	text-align: center;
	padding-top: 98px;
	padding-bottom: 92px;
}

.people-are-talking-items-text {
	font-family: 'Source Sans Pro', sans-serif;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	line-height: 24px;
	text-align: center;
}

.people-are-talking-items-img {
	margin-bottom: 33px;
}

.people-are-talking-line {
	background-color:  rgba(199, 199, 199, 0.2);
	width: 780px;
	height: 3px;
	margin: 0 auto;
	margin-bottom: 49px;
}

.fork-sub-pricing {
	background: url(../img/fork-sub-pricing-layer.png) no-repeat;
	background-size: cover;
}

.fork-sub-pricing-header {
	font-family: 'Montserrat', sans-serif;
	color:  #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: 15px;
	text-align: center;
	margin: 0 auto;	
	padding-top: 30px;
}
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/