* {
 box-sizing: border-box;
}

body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 14px;
}

a {
 text-decoration: none;
}

input, button {
 outline: none;
 border: none;
}

.main-background {
 height: 100vh;
 background: url(../img/bg-image.png) no-repeat;
 background-size: cover;
}

.main-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 75px 19px 81px;
 background-color: rgba(0, 0, 0, 0.41);
}

.main-header__logo {
 color: #fff;
 font-size: 20px;
 font-weight: 700;
 text-transform: uppercase;
 transition: color 1s;
}

.main-header__logo:active,
.main-header__logo:hover {
 color: #3cb878;
}

.main-nav {
 display: flex;
 align-items: center;
}

.main-nav__link {
 font-size: 14px;
 width: 28px;
 height: 22px;
 margin-right: 28px;
}

.main-nav__log-in {
 padding-left: 24px;
 border-left: 1px solid #32302e;
}

.main-nav__log-in {
 color: #fff;
 font-size: 14px;
}

.link {
 color: #3cb878;
}

.link:active,
.link:hover {
 text-decoration: underline;
}

.calculator {
 background: url("../img/sprite.png") -106px -10px;
}

.calculator:hover {
 background: url("../img/sprite.png") -106px -49px;
}

.message {
 background: url("../img/sprite.png") -10px -10px;
}

.message:hover {
 background: url("../img/sprite.png") -58px -10px;
}

.compass {
 background: url("../img/sprite.png") -10px -50px;
}

.compass:hover {
 background: url("../img/sprite.png") -50px -50px;
}

.form-container {
 height: 90%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.form-sign-up {
 position: relative;
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 border-radius: 16px;
 padding: 29px 60px 32px 62px;
 background-color: #fff;
 box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
 width: 444px;
}

.form-sign-up__input {
 padding: 18px 19px;
 border: 1px solid #eaeaea;
 width: 100%;
 margin-bottom: 9px;
 transition: box-shadow 1s;
}

.form-sign-up__input:focus {
 box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-sign-up__input:-ms-input-placeholder,
.form-sign-up__input::placeholder {
 color: #bebebe;
 font-size: 14px;
}

.form-sign-up__header {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 55px;
}

.form-sign-up__title {
 font-size: 20px;
 color: #434343;
}

.form-sign-up__terms {
 position: relative;
 width: 100%;
 font-size: 14px;
 display: flex;
 align-items: center;
 cursor: pointer;
}

.form-sign-up__terms-link {
 display: inline-block;
 margin-left: 3px;
}

.form-sign-up__checkbox {
 margin-right: 10px;
 display: inline-block;
 width: 20px;
 height: 20px;
 border: 1px solid #eaeaea;
}

.default-checkbox {
 opacity: 0;
 position: absolute;
}

.default-checkbox:checked ~ .form-sign-up__checkbox {
 background: url("../img/sprite.png") -8px -86px;
}

.form-sign-up__social-row {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 37px;
}

.social-btn {
 padding: 16px 17px 17px 20px;
 border-radius: 4px;
 font-size: 16px;
 color: #fff;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: space-between;
 transition: background-color 1s;
}

.social-btn_facebook {
 background-color: #305db8;
}

.social-btn_facebook:active,
.social-btn_facebook:hover {
 background-color: #264b96;
}

.social-btn_google {
 background-color: #df4a32;
}

.social-btn_google:active,
.social-btn_google:hover {
 background-color: #c3412c;
}

.social-btn__icon {
 padding: 4px 17px 4px 0;
 font-size: 20px;
 border-right: 1px solid rgba(0, 0, 0, 0.1);
 margin-right: 18px;
}

.form-sign-up__submit-btn {
 padding: 17px;
 width: 100%;
 text-align: center;
 background-color: #3cb878;
 color: #fff;
 font-size: 16px;
 border-radius: 6px;
 cursor: pointer;
 margin-top: 28px;
 transition: background-color 1s;
}

.form-sign-up__submit-btn:active,
.form-sign-up__submit-btn:hover {
 background-color: #329a65;
}

.green-square {
 position: absolute;
 width: 18px;
 height: 18px;
 top: 29px;
 left: 0;
 background-color: #3cb878;
}

.form-sign-up__or-line {
 margin-bottom: 18px;
 color: #848484;
 font-size: 14px;
}

.form-sign-up__or-line:after,
.form-sign-up__or-line:before {
 content: '';
 display: inline-block;
 vertical-align: middle;
 width: 135px;
 height: 1px;
 background: #eaeaea;
}

.form-sign-up__or-line:after {
 margin-left: 18px;
}

.form-sign-up__or-line:before {
 margin-right: 18px;
}
