html {
 min-height: 100%;
}

body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;
 color: #fff;
 min-height: 100%;
}

.content-size-wrapper {
 margin: 0 auto;
 width: 1064px;
 padding-top: 49px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.background-wrapper {
 height: 100vh;
 background: url("../img/background.jpg") no-repeat;
 background-size: cover;
}

.main-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 45px;
 width: 100%;
}

.main-header__logo-block {
 color: #fff;
 text-decoration: none;
}

.main-header__logo-block:hover {
 color: #e66224;
}

.main-header__logo-block:hover .icon-logo {
 background: url("../img/logo_orange.svg") no-repeat;
}

.icon-logo {
 background: url("../img/logo.svg") no-repeat;
 display: inline-block;
 width: 46px;
 height: 44px;
}

.logo__text {
 display: inline-block;
 text-transform: uppercase;
 font-weight: 700;
 margin-left: 13px;
}

.logo__text_main {
 font-size: 29px;
}

.main-header__contacts{
 margin-bottom: 5px;
 text-align: right;
}

.image__more-info {
 box-sizing: border-box;
 position: absolute;
 bottom: 46px;
 background-color: #e66224;
 color: #fff;
 width: 100%;
 display: flex;
 align-items: flex-end;
 justify-content: space-between;
 padding: 16px 18px 17px 21px;
 visibility: hidden;
}
.image__block{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.image__section {
 position: relative;
 text-align: center;
 margin: 0 65px 55px 0;
 text-decoration: none;
}

.image__section:nth-child(3n) {
 margin-right: 0;
}

.image__title {
 color: #fff;
}

.image__section:hover .image__more-info {
 visibility: visible;
}

.image__section:hover .image__title {
 color: #e66224;
 text-decoration: none;
}

.image__item {
 border: 2px solid transparent;
 border-image: linear-gradient(to bottom, #fff 0%, transparent 100%);
 border-image-slice: 1;
 margin-bottom: 20px;
}

.main-footer {
 margin-top: 6px;
 padding: 0 0 20px;
 
 position: absolute;
 bottom: 0;
}

.main-footer__copyright{
 font-size: 12px;
}

.service-info__from {
 font-size: 10px;
 text-align: left;
 margin-bottom: 7px;
}

.service-info__price {
 font-size: 24px;
}

.service-info__link {
 font-size: 14px;
}

.service-info__arrow {
 opacity: 0.5;
 font-size: 18px;
 margin-left: 15px;
}
